<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Please login</title>
</head>
<body>
	<form method="post" action="login">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<table>
			<tr><td>Username: </td><td><input name="username" type="text" value="admin" /></td></tr>
			<tr><td>Password: </td><td><input name="password" type="password" value="admin" /></td></tr>
			<tr><td colspan="2"><button type="submit">Submit</button></td></tr>
		</table>
	</form>
</body>
</html>