<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome to Manage Dashboard</title>
</head>
<body>
	<p th:text="${message}"></p>
	<p th:text="${role}"></p>
	<form th:action="@{/logout}"><button type="submit">logout</button></form>
	<br/>
	<form th:action="@{/manage/save}" th:object="${message}" method="post">
		Enter ur message: <input type="text" name="message" />
		<button>Save</button>
	</form>
</body>
</html>